.Card {
  position: relative;
  margin-top: 2rem;
  padding-top: 15px;
  border-radius: 2px;
  box-shadow: 1px 1px 4px rgba(34, 34, 34, 0.3);
}

.Card:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.Card.rule:before {
  background-color: #466C95;
}

.Card.example:before  {
  background-color: #5DAE8B;
}

.Card.question:before  {
  background-color: #FF7676;
}

.Card .Card-body {
  padding: 1rem;
}

.Card .Card-footer {
  opacity: 1;
  transition: opacity 0.3s;
}

.Card:hover .Card-footer {
  opacity: 1;
}

.Card-footer .author,
.Card-footer .button {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: rgba(34, 34, 34, 0.3);
}

.Card-footer .author {
  width: 60%;
}

.Card-footer .button {
  width: 20%;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;
}

.Card-footer .button:hover {
  color: rgba(34, 34, 34, 0.6);
}
