.App {
  width: 90vw;
  margin: 0 auto;
}

.App-header {
  padding-top: 5vh;
}

.App-header:after {
  content: '';
  display: table;
  clear: both;
}

h1.title,
nav.header-links {
  display: block;
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 2rem;
  font-weight: normal;
}

nav.header-links {
  text-align: right;
}

h1.title a,
a.header-link {
  border-bottom: 5px solid transparent;
  color: #222;
  text-decoration: none;
  cursor: pointer;
  transition: border-color 0.3s;
}

h1.title a:focus,
h1.title a:hover,
a.header-link:focus,
a.header-link:hover {
  outline: none;
  border-color: #f6f49d;
}

